<div class="container mt-5" style="max-width: 700px;">
  <div class="d-flex justify-content-between align-items-start mb-4">
    <h1><%= @task.title %></h1>
    <%= link_to edit_task_path(@task), class: "btn btn-outline-secondary" do %>
      <i class="bi bi-pencil"></i> Edit this task
    <% end %>
  </div>

  <div class="alert alert-light">
    <%= @task.details %>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" disabled <%= "checked" if @task.completed %>>
    <label class="form-check-label">
      <%= @task.completed ? "This task is completed" : "This task is not completed yet" %>
    </label>
  </div>

  <div class="mt-4">
    <%= link_to "Back to list", tasks_path, class: "btn btn-link" %>
  </div>
</div>
